.file-tree {
  .current-folder {
    margin-bottom: 5px;

    i.fas {
      display: inline-block;
      margin-right: 10px;
      color: #EB9532;
    }
  }

  .file-list {
    padding-left: 5px;
  }

  .current-path {
    span.text-primary {
      cursor: pointer;
    }
  }
}
